<!-- start custom head snippets -->

<!DOCTYPE html>
<html>
<head>
<meta name="google-site-verification" content="XOU_9CkLNNaUNtEEBsIhtUs4U-8ajwS9gHS4ezJ1cec" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 100px;
    left: 270px;
    background-color: black;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

 
.header-block {
    position: absolute;
    bottom: 150px;
    left: 200px;
    background-color: transparent;
    color: transparent;
    padding-left: 0px;
    padding-right: 20px;
} 
</style>
</head>
<body>


<div class="container">
  <img src="/assets/images/image17.png" alt="pic" style="width:100%;height=140px;">
  <div class="header-block">
    <h2>Mattia Mazzoli</h2>
  </div>
</div>

</body>
</html> 

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
